name: RSS

on:
  schedule:
    - cron:  '0 4 * * *' # Every 4am (9am in IST time)

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Decrypt session secret
        env:
          SESSION_SECRET_PASSPHRASE: ${{ secrets.SESSION_SECRET_PASSPHRASE }}
        run: |
          make decrypt

      - name: Run docker container
        env:
          TELEGRAM_APP_ID: ${{ secrets.TELEGRAM_APP_ID }}
          TELEGRAM_APP_HASH: ${{ secrets.TELEGRAM_APP_HASH }}
          TELEGRAM_PUBLIC_CHANNEL_NAME: ${{ secrets.TELEGRAM_PUBLIC_CHANNEL_NAME }}
        run: |
          make build
          make run

      - name: Add & Commit
        uses: EndBug/add-and-commit@v7.4.0
        with:
          add: 'assets/rss.xml'
          author_name: Yonatan Bitton (via GitHub Actions)
          author_email: bityob@gmail.com

          # # The local path to the directory where your repository is located. You should use actions/checkout first to set it up.
          # # Default: '.'
          # cwd: './path/to/the/repo'

          # # The message for the commit.
          # # Default: 'Commit from GitHub Actions (name of the workflow)'
          # message: 'Your commit message'

          # The way the action should handle pathspec errors from the add and remove commands. Three options are available:
          # - ignore -> errors will be logged but the step won't fail
          # - exitImmediately -> the action will stop right away, and the step will fail
          # - exitAtEnd -> the action will go on, every pathspec error will be logged at the end, the step will fail.
          # Default: ignore
          pathspec_error_handling: exitImmediately

          # Arguments for the git pull command. Use NO-PULL to avoid the action pulling at all.
          # Default: '--no-rebase'
          pull: 'NO-PULL'

          # Whether to push the commit and, if any, its tags to the repo. It can also be used to set the git push arguments (see the paragraph below for more info)
          # Default: true
          push: true

          # Whether to use the --signoff option on `git commit` (only boolean values accepted*)
          # Default: false
          signoff: true